@page "/admin/puzzle"
@page "/admin/puzzle/{Page:int}"
@rendermode InteractiveServer
@inject IPuzzleFilters Filters
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Navigation
@inject PuzzleGridQueryAdapter QueryAdapter

<PageTitle>Puzzle Home</PageTitle>

<h1>Puzzle Home</h1>
<h6><a href="/admin/puzzle/add">Create New</a></h6>

<GridWrapper @ref="Wrapper"
             FilterChanged="ReloadAsync"
             DeleteRequested="id => Wrapper.DeleteRequestId = id">
    <div class="container-fluid Puzzles-grid">
        <div class="row">
            <div class="col-8"><TextFilter /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                Page @Filters.PageHelper.Page of @Filters.PageHelper.PageCount:
                showing @Filters.PageHelper.PageItems of
                @Filters.PageHelper.TotalItemCount items.
                <a disabled="@(Filters.Loading || !Filters.PageHelper.HasPrev)"
                   class="btn btn-primary @IsDisabled(Filters.PageHelper.HasPrev)"
                   href="@Filters.PageHelper.PrevPage">
                    Previous
                </a>
                <a disabled="@(Filters.Loading || !Filters.PageHelper.HasNext)"
                   class="btn btn-primary @IsDisabled(Filters.PageHelper.HasNext)"
                   href="@Filters.PageHelper.NextPage">
                    Next
                </a>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row LowercaseNamePlaceholder-header">
            <div class="col-2">&nbsp;</div>
            <div class="col-3"
                @onclick="@(async ()=>await ToggleAsync(PuzzleFilterColumns.Id))">
                <SortIndicator Column="@(PuzzleFilterColumns.Id)" />&nbsp;Id
            </div>

            <div class="col-3" @onclick="@(async ()=>await ToggleAsync(PuzzleFilterColumns.Description))">
                <SortIndicator Column="@(PuzzleFilterColumns.Description)" />&nbsp;Description
            </div>

            <div class="col-3" @onclick="@(async ()=>await ToggleAsync(PuzzleFilterColumns.IsPublic))">
                <SortIndicator Column="@(PuzzleFilterColumns.IsPublic)" />&nbsp;IsPublic
            </div>

            @* SortIndicatorCodePlaceholder *@

        </div>
        @if (Filters.Loading || Puzzles is null)
        {
            <div class="row">
                <div class="col-12 alert alert-info">
                    Loading...
                </div>
            </div>
        }
        @if (Puzzles is not null && Puzzles.Count == 0)
        {
            <div class="row">
                <div class="col-12 alert alert-warning">
                    No Puzzle found.
                </div>
            </div>
        }
        @if (Puzzles is not null)
        {
            @foreach (var LowercaseNamePlaceholder in Puzzles)
            {
                <PuzzleRow @key=LowercaseNamePlaceholder CurrentPuzzle="LowercaseNamePlaceholder"
                            DeletePuzzle="DeletePuzzleAsync" />
            }
        }
    </div>
</GridWrapper>

@code {
    // The current page.
    [Parameter]
    public int Page
    {
        get => Filters.PageHelper.Page;
        set
        {
            Filters.PageHelper.Page = value;
        }
    }

    // A wrapper for grid-related activity (like delete).
    private GridWrapper Wrapper { get; set; } = new GridWrapper();

    // Current page of Puzzle.
    private ICollection<Puzzle>? Puzzles { get; set; }

    // Helper method to set disabled on class for paging.
    // condition: When the element is active (and therefore should not be disabled).
    //            Returns the string literal "disabled" or an empty string.
    private string IsDisabled(bool condition) =>
        !Filters.Loading && condition ? "" : "disabled";

    // Keeps track of the last page loaded.
    private int _lastPage = -1;

    // Main logic when getting started.
    protected override void OnAfterRender(bool firstRender)
    {
        // Ensure we're on the same (correct) page.
        if (_lastPage < 1)
        {
            Navigation.NavigateTo("/admin/puzzle/1");
            return;
        }

        // Normalize the page values.
        if (Filters.PageHelper.PageCount > 0)
        {
            if (Page < 1)
            {
                Navigation.NavigateTo("/admin/puzzle/1");
                return;
            }
            if (Page > Filters.PageHelper.PageCount)
            {
                Navigation.NavigateTo($"/admin/puzzle/{Filters.PageHelper.PageCount}");
                return;
            }
        }
    }

    // Triggered for any paging update.
    protected override async Task OnParametersSetAsync()
    {
        // Make sure the page really changed.
        if (Page != _lastPage)
        {
            _lastPage = Page;
            await ReloadAsync();
        }
    }

    // Used to toggle the grid sort. Will either switch to "ascending" on a new
    // column, or toggle between "ascending" and "descending" on a column with the
    // sort already set.
    private Task ToggleAsync(PuzzleFilterColumns col)
    {
        if (Filters.SortColumn == col)
        {
            Filters.SortAscending = !Filters.SortAscending;
        }
        else
        {
            Filters.SortColumn = col;
        }
        return ReloadAsync();
    }

    // Deletes a Puzzle.
    // <snippet1>
    private async Task DeletePuzzleAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Filters.Loading = true;

        if (Wrapper is not null && context.Puzzles is not null)
        {
            var LowercaseNamePlaceholder = await context.Puzzles
                .FirstAsync(x => x.Id == Wrapper.DeleteRequestId);

            if (LowercaseNamePlaceholder is not null)
            {
                context.Puzzles?.Remove(LowercaseNamePlaceholder);
                await context.SaveChangesAsync();
            }
        }

        Filters.Loading = false;

        await ReloadAsync();
    }
    // </snippet1>

    // Reload page based on filters and paging controls.
    private async Task ReloadAsync()
    {
        if (Filters.Loading || Page < 1)
        {
            return;
        }

        Filters.Loading = true;

        if (Wrapper is not null)
        {
            Wrapper.DeleteRequestId = Guid.Empty;
        }

        Puzzles = new List<Puzzle>();

        using var context = DbFactory.CreateDbContext();
        var query = context.Puzzles?.AsQueryable();

        if (query is not null)
        {
            // Run the query to load the current page.
            Puzzles = await QueryAdapter.FetchAsync(query);
        }

        Filters.Loading = false;
    }
}

